@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    scroll-behavior: auto;
    overflow-anchor: none;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #11120f;
    --third-color: #325595;
    --fourth-color: #ffffff;
    --fifth-color: #3774e6;
    
    --text-primary: black;
    --text-secondary: rgba(213, 213, 213, 0.91);
    

    --transition-primary: 0.4s ease-out;
    --text-shadow-primary: 0px 0px 2px rgba(0, 0, 0, 0.168);

    --gradient: linear-gradient(90deg,#0b2657, #2e5db3fb);
    --gradient-full: linear-gradient(90deg,#0b2657, #325595);
}

/* Header */

.header {
    position: fixed;
    height: 5rem;
    width: 100vw;
    /* border: 1px solid black; */
    /* border-bottom: 1px solid  rgba(0, 0, 0, 0.188); */
    background: var(--gradient-full);
    /* animation: slide_in 2s ease forwards; */
    z-index: 5;
}

@keyframes slide_in {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0);} 
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container a .logo-title {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar,
.navbar-list, li, a{
    display: flex;
    text-decoration: none;
    padding: 0.4rem;
    color: var(--text-secondary);
    /* border: 1px solid black; */
    
}

.navbar-list li a:hover {
    color: var(--fourth-color);
    transition: var(--transition-primary);
    /* text-shadow: var(--text-shadow-primary); */
}

.login-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.login-container a {
    height: 40px;
    border: 1px solid rgba(12, 12, 12, 0);
    margin: 0.4rem;
    border-radius: 15px;
    background-color: var(--fifth-color);
    color: var(--primary-color);
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
    &:hover {
        background-color: var(--primary-color);
        color: var(--fifth-color);
        transition: var(--transition-primary);
        border: 1px solid var(--fifth-color);
    }
    &:not(:hover) {
        transition: var(--transition-primary);
    }
    
}

/* Hero div starts */

.hero {
    position: absolute;
    background-image: var(--gradient);
    color: var(--text-secondary);
    padding-block: 130px 60px;
    overflow: hidden;
}

.hero-title {
    position: relative;
    font-size: 4rem;
    /* border: 1px solid black; */
    padding: 0px 650px 0px 190px;
    z-index: 2;
    animation: slide_right 1500ms ease forwards;
}

.hero-text {
    position: relative;
    padding: 0px 750px 0px 190px;
    font-size: 0.9rem;
    z-index: 2;
    color: var(--fourth-color);
    animation: slide_right 2s ease forwards;
}

@keyframes slide_right {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    } 
    100% {
        transform: translateX(0);
        opacity: 90%;
    } 
}

.hero-house {
    position: absolute;
    margin: 0;
    top: 0px;
    left: 43%;
    z-index: 0;
    overflow: hidden;
    isolation: isolate;
    animation: slide_down 2s ease forwards;
}

.hero-pattern {
    width: 80%;
    position: absolute;
    top: 0%;
    left: 20%;
    z-index: -2;
    /* animation: slide_up 2s ease forwards; */
}

@keyframes slide_down {
    0% {
        transform: translateY(-5%);
        opacity: 0%;
    } 
    100% {
        transform: translateY(5%);
        opacity: 90%;
    } 
}

@keyframes slide_up {
    0% {
        transform: translateY(5%);
        opacity: 0%;
    } 
    100% {
        transform: translateY(0%);
        opacity: 90%;
    } 
}


/* property div starts */

.property-container {
    position: relative;
    z-index: 4;
    padding-block: 650px 50px;
    /* animation: slide_in_bottom 1900ms ease-in-out; */
    /* animation-timeline: view(); */
    /* animation-range: entry 0% cover 40%; */
}

@keyframes slide_in_bottom {
    from {
        transform: translateX(-100%);
        opacity: 0;
        /* scale: 0.5; */
    } 
    to {
        transform: translateX(0);
        opacity: 1;
        /* scale: 1; */
    } 
}

.property-div-one {
    padding: 0px 750px 20px 190px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.property-div-one-inner {
    margin-bottom: 15px;
    width: 1000px;
}

.add-btn {
    padding: 10px 15px;
    background-color: var(--fifth-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid var(--fifth-color);
    &:hover {
        background-color: var(--primary-color);
        color: var(--fifth-color);
        transition: var(--transition-primary);
        border: 1px solid var(--fifth-color);
    }
    &:not(:hover) {
        transition: var(--transition-primary);
    }
}

.property-title {
    font-size: 2rem;
    margin-bottom: 10px;
    
}

.property-text {
    font-weight: 300;
    width: 1000px;
}

.property-lists {
    margin: 0px 190px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center; 
    align-items: center; 
    grid-gap: 15px;
    padding: 15px 5px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.086);
    border-radius: 15px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0px 0px 5px rgba(71, 71, 71, 0.368);
    transition: var(--transition-primary);
}

.card:not(:hover) {
    transition: var(--transition-primary);
}

.img-holder {
    overflow: hidden;
    width: 100%;
    height: 100%; /* Ensure the container takes up full height */
    display: flex; /* Use flex to ensure the image fills */
    align-items: center;
    justify-content: center;
}

.img-cover:hover {
    transform: scale(1.03);
    rotate: 1.5deg;
    transition: 0.4s ease-in;
    overflow: hidden;
    cursor: pointer;
}

.img-cover:not(:hover) {
    transform: scale(1);
    transition: 0.4s ease-out;
}

.img-cover {
    height: 200px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.property-description {
    padding: 10px;
    cursor: pointer;
}

