/* footer section */

/* .footer {
    padding-block: 120px 0;
} */


.footer-container {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a2023;
    color: white;
    z-index: 6;
}

.logo-address-container {
    width: 20%;
}

.img-logo {
    height: 50px;
    width: 50px;
}

.sp-address-out {
    font-weight: 200;
}

.sp-address-in {
    font-weight: 400;
}

.social-link {
    display: flex;
}

.social-link a i {
    &:hover {
        color: var(--fifth-color);
        transition: var(--transition-secondary);
    }
    &:not(:hover) {
        transition: var(--transition-secondary);
    }
}


/* foot-end */


.foot-end {
    z-index: 6;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #101616;
    color: white;
}

.foot-end p {
    font-weight: 200;
    font-size: 0.7rem;
}

.me {
    color: var(--fourth-color);
    font-size: 0.7rem;
    &:hover {
        color: var(--fifth-color);
        transition: var(--transition-secondary);
    }
    &:not(:hover) {
        transition: var(--transition-secondary);
    }
}

.contacts {
    font-size: 0.9rem;
}